@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="vertical-align: bottom; text-align: center;">
    <font color="red"><b>
                    @ViewBag.ErrorMsg<br />
    <a href="/Home/Index">@Resources.Global.BackToHome</a>
    </b></font>
</div>
