@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="vertical-align: bottom; text-align: center;">
    <font color="red"><b>@Resources.Global.NoPermission</b></font>
</div>
