@{
    ViewBag.Title = "VersionHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    VersionHistory</h2>
<h3>
    Version 1.0.0 ([date here])</h3>
<h4>
    [feature title here]</h4>
<p>
    New version features here.</p>
