<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LongHuEntities" connectionString="metadata=res://*/LongHu.csdl|res://*/LongHu.ssdl|res://*/LongHu.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=Long-PC/LONGDB;password=Admin123;persist security info=True;user id=LONGUSER&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>