*{padding:0;margin:0;}
.menu ul,ol,li,dl,dt,dd {list-style-type:none;}

a { color:#7FB0C8;}
a:link {TEXT-DECORATION: none;}
a:visited { TEXT-DECORATION: none;}
a:hover {TEXT-DECORATION: none;}

/* 树形菜单开始 */
/* .close { float:right; clear:right; font-size:12px; font-weight:normal; cursor:pointer; padding-right:10px;}*/

.menu { width:191px;  height:330px;overflow-y:auto; overflow-x:hidden;}

.l1 { width:191px; background:url(../../images/left/v1buttonbg.jpg) no-repeat; color:#99D6FF; font-size:13px; padding-left:50px; line-height:28px; height:28px; cursor:pointer;}

.slist {display:none;}
.l2 { padding:0 0 0 55px; font-size:13px;  background:url(../../images/left/v2buttonbg.jpg) no-repeat; cursor:pointer;}
.l2 a { padding:0 0 0 5px; width:191px; height:28px; line-height:28px; color:#234EAA;} 

.sslist {  width:191px; font-size:13px;cursor:pointer; color:#234EAA; overflow:hidden;  display:none;}
.l3 a { padding:0 0 0 65px; background:url(../../images/left/v3buttonbg.jpg) no-repeat; line-height:28px; width:191px; height:28px;color:#234EAA; font-size:13px; display:block;} 
.l3 a:hover { color:#F30;TEXT-DECORATION:underline;}

